NEXTAUTH_URL=http://localhost:3000/
NEXTAUTH_SECRET=verycomplexsecretkey
NEXTAUTH_BACKEND_URL=http://localhost:8000/api/
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000/api/
NEXT_PUBLIC_URL=http://localhost:3000/
NEXT_PUBLIC_WEBSOCKET_URL=ws://localhost:8000/ws/ml_model/

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=